* {
  padding: 0;
  margin: 0;
}

[data-filter="light"] {
  --color: rgb(85, 159, 255);
  --bgcolor: rgb(177, 210, 253);
  --bodercolor: rgb(52, 140, 255);
  --bodycolor: rgb(223, 237, 255);
  --maincolor: rgb(177, 210, 253);
  --headercolor: rgb(177, 210, 253);
  --footercolor: rgb(177, 210, 253);
}

[data-filter="dark"] {
  --bgcolor: rgb(0, 0, 0);
  --color: white;
  --bodercolor: rgb(70, 70, 70);
  --bodycolor: rgb(29, 29, 29);
  --maincolor: rgb(21, 23, 25);
  --headercolor: rgb(40, 47, 55);
  --footercolor: rgb(40, 47, 55);
}

[data-filter="hawaii"] {
  --bgcolor: rgb(255, 34, 229);
  --color: rgb(0, 0, 0);
  --bodercolor: rgb(198, 4, 4);
  --bodycolor: rgb(183, 245, 0);
  --maincolor: rgb(245, 180, 0);
  --headercolor: rgb(0, 245, 241);
  --footercolor: rgb(155, 0, 245);
}

body {
  margin: 0 5%;
  background-color: var(--bodycolor);
}

header {
  background-color: var(--headercolor);
  color: var(--color);
  border: 5px solid;
  border-color: var(--bodercolor);
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

header h1 {
  font-size: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header div {
  display: flex;
  place-self: center center;
}

p {
  font-size: 1.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

label {
  font-size: 1.8rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  background-color: var(--maincolor);
  color: var(--color);
  border: 5px solid;
  border-color: var(--bodercolor);
  padding: 2%;
  height: 400px;
}

footer {
  background-color: var(--footercolor);
  color: var(--color);
  border: 5px solid;
  border-color: var(--bodercolor);
  padding: 2%;
}
